$hoverBlue: #0854a0;
$blue: #1e90ff;
$white: #ffffff;
$backIcon: "\01F448";
$navBarTime: .5s;
$transition-timing-function:cubic-bezier(.73,.45,.83,.67);
.fixedPosition {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    .brandLogo {
        &.active {
            background-color: $blue;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            height: 60px;
            z-index: 20;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 15px;
        }
    }
    .navContent {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .navMainList {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .navLink {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                padding-right: 0.5rem;
                padding-right: 0.5rem;
                font-size: 1rem;
                color: $white;
                &.navLink:hover{
                    background-color: $hoverBlue;
                }
                a {
                    padding: 0.5rem 1rem;
                    color: white;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    font-weight: 400;
                    text-decoration: none;
                    font-size: 1.25rem;
                    width: 100%;
                    
                }
            }
        }
    }
    .myNavBarBtn {
        border: 0.5px solid #c1c0c0;
        border-radius: 5px;
        padding: 0.5rem;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        .myNavIcon {
            display: flex;
            justify-content: start;
            align-items: center;
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
            background: no-repeat center center;
            background-size: 100% 100%;
        }
        @media (min-width: 992px) {
            display: none;
        }
    }
}
.navDrop {
    position: relative;
    align-items: center;
    .myDropdown {
        display: none;
        position: absolute;
        background-color: $blue;
        border-radius: 5px;
        li {
            padding: 0.5rem 1.5rem;
            a {
                color: white;
                font-weight: 400;
                text-decoration: none;
                font-size: 1.25rem;
            }
            &:hover {
                background-color: $hoverBlue;
            }
        }
    }
    > a {
        &::after {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
            position: relative;
        }
    }
    &:hover {
        transition: top 1s linear;
        @media (max-width: 991px) {
            transition: left 1s linear;
            &::after {
                left: 5px;
                top: 0px !important;
            }
        }
        @media (min-width: 992px) {
            .myDropdown {
                display: block;
            }
        }

        &::after {
            top: 5px;
        }
    }
}
@media (max-width: 991px) {
    .navDrop {
        .myDropdown {
            position: fixed;
            top: 0px;
            right: -320px;
            bottom: 0;
            width: 320px;
            display: block;
            // background-color: red;
            padding-top: 65px !important;
            z-index: 10;
            &.active {
                right: 0px;
            }
        }
    }
    .navContent {
        position: fixed;
        background-color: $blue;
        top: 0px;
        bottom: 0px;
        right: -320px;
        width: 320px;
        padding-top: 65px;

        .navMainList {
            flex-direction: column;
            li {
                width: 100%;
                padding: 0.5rem 1.5rem;
            }
            .navDrop {
                > a {
                    &::after {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        margin-left: 0.255em;
                        vertical-align: 0.255em;
                        content: "";
                        border-top: 0.3em solid transparent;
                        border-right: 0;
                        border-bottom: 0.3em solid transparent;
                        border-left: 0.3em solid;
                        position: relative;
                        margin-left: 10px;
                    }
                }
            }
        }
        .myDropdown {
            flex-direction: column;
            li {
                width: 100%;
            }
        }
    }
}
.active {
    .closeSideNav {
        display: block;
    }
}
.closeSideNav {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    &::after {
        content: "\2573";
        font-weight: bold;
        color: white;
        cursor: pointer;
    }
}
.SideNavShadow {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(31, 30, 30, 0.25);
    display: none;
    z-index: -1;
}
.sideNavAnimationIn {
    animation: sideNavAnimationIn $navBarTime $transition-timing-function 0s 1 forwards;
}
.sideNavAnimationOut {
    animation: sideNavAnimationOut $navBarTime $transition-timing-function 0s 1 forwards;
}
@keyframes sideNavAnimationIn {
    from {
        right: -320px;
    }
    to {
        right: 0px;
    }
}
@keyframes sideNavAnimationOut {
    from {
        right: 0px;
    }
    to {
        right: -320px;
    }
}
li > .btn {
    margin-left: 15px;
}
.closeSubDrop {
    font-size: 1.5rem;
    font-weight: 700;
    &::before {
        content: "\21B5";
    }
}
@media (min-width: 992px) {
   
    .closeSubDrop{
        display: none;
    }
}
